* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background: linear-gradient(to right, #141E30,#35577D);
    color: white;
}

nav {
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 8%;
    background: linear-gradient(to right, #141E30,#35577D);
    
}

.logo {
    font-size: 30px;
    font-weight: bold;
}

main {
    width: 90%;
    max-width: 900px;
    margin: auto;
}

.hero {
    text-align: center;
    padding: 70px 20px 40px;
}

.hero h1 {
    font-size: 48px;
    margin-bottom: 15px;
}

.hero p {
    font-size: 20px;
    color: #666;
}

.card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2); 
    padding: 30px;
    border-radius: 16px;
    box-shadow: 0 5px 25px rgba(0,0,0,0.08);
}

label {
    display: block;
    margin-top: 15px;
    margin-bottom: 8px;
    font-weight: bold;
}

input {
    width: 100%;
    padding: 14px;
    border: 1px solid #ccc;
    border-radius: 8px;
    margin-bottom: 10px;
    background: rgba(255, 255, 255, 0.1);
    color: white;
    font-size: 16px;
}

button {
    width: 100%;
    padding: 15px;
    margin-top: 20px;
    border: none;
    border-radius: 8px;
    background: #141E30;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    opacity: 0.85;
}

.results {
    margin: 40px 0;
    display: grid;
    gap: 20px;
}

.hidden {
    display: none;
}

.score-card,
.result-card {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 5px 20px rgba(0,0,0,0.06);
}

.score-card {
    text-align: center;
}

#score {
    font-size: 60px;
    font-weight: bold;
    margin: 10px;
}

.result-card h2 {
    margin-bottom: 15px;
}

.result-card li {
    margin: 10px 0;
    margin-left: 20px;
}

.skill {
    display: inline-block;
    padding: 8px 12px;
    margin: 5px;
    border-radius: 20px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(20px);
    border: 1px solid rgba(255, 255, 255, 0.2);
}